<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/footer.css }"/>
    <title>footer</title>
</head>
<body>

<footer class="site-footer"  th:fragment="footer">
    <div class="footer-logo">
        <span style="font-family:var(--display);font-size:0.8rem;color:var(--gold);letter-spacing:0.1em;">Light the Deal</span>
    </div>
    <div class="footer-text">© 2026 Light the Deal. . All Rights reserved.
        </span></div>
</footer>

</body>
</html>