<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
<header class="header">

    <nav class="nav">
        <ul class="nav_list">
            <li class="item">
                <button class="btn" name="log">LogIn</button>
            </li>
            <li class="item">
                <button class="btn" name="reg">Register</button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section class="hero">
        <div class="imgBack"><img src="*/pics/PicBackground.jpg" alt="background"></div>
        <div class="filter"></div>
    </section>
</main>
<footer class="footer">
    <div class="content">
        <img src="*/pics/logo.png" alt="logo" class="logo">
        <span class="rights">
            &copy; Copyright Light the Deal 2026. All Rights reserved.
        </span>
    </div>

</footer>
</body>

</html>